.blogs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5%;
  padding-top: 10px;
}

.blog-card {
  width: 30%;
}

.blogs-search {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 50%;
  border-radius: 55px;
  border: none;
  outline: none;
  text-align: center;
}
